body {
    margin-left: 100px;
    width: 1200px;
    background: url(images/background.png);
    color: black;
    font-family: Monospace;
    background-repeat: repeat;
    background-attachment:fixed;
    word-break: break-all;
}

a, a:visited {text-decoration: none; color:#4672BF;}
a:hover {text-decoration:underline;}

h1 {
    font-size:36px;
    color: darkblue;
}

h2 {
    font-size:30px;
    color: darkblue;
}

h3 {
    font-size:24px;
    color: darkblue;
}

p {
    font-size:1em;
}

textarea {
    font-size: 16px;
    width: 640px;
    height: 80px;
}

ul {
    list-style: none;
    display: list-item;
    padding: 0;
    margin: 0;
}

div {
    border-radius: 7px;
    border-width: 1px;
}

#navigator {
    top: 0px;
    left: 0px;
    z-index: 199;
    border: 0;
    height: 40px;
    width: 100%;
    position: fixed;
    background: #4672BF;
    opacity: 0.8;
    color: white;
}

#navigator li{
    font-weight: 400;
    font-size: 1em;
    display: list-item;
    width: 100px;
    float: left;
    padding: 8px 20px;
}

#navigator a, #navigator a:visited {color:white;}
#navigator .nav_button:hover {background: lightblue}

#unread_hint {
    background:white;
    top: 40px;
    right: 0px;
    position:fixed;
    text-align: right;
    height: 30px;
    width: 160px;
    color: #4672BF;
    opacity: 0.8;
}

#maininfo {
    width: 900px;
    min-height: 300px;
    display: block;
    float: left;
    background: #E0E0FF;
    border-style: solid;
    border-color: grey;
    padding: 0 20px 20px 20px;
    margin: 40px 0 20px 0;
}

#msginfo {
    width: 900px;
    display: block;
    float: left;
    background: #E0E0FF;
    border-style: solid;
    border-color: grey;
    padding: 0 20px 20px 20px;
}

#sidebar {
    width: 250px;
    padding: 10px 0;
    display: inline;
    float: right;
    border-style: solid;
    border-color: grey;
    margin: 40px 0 0 0;
    background: #DDDDFF;
}

.content {
    margin: 20px 0 20px 0;
    padding: 0 20px 20px 20px;
    background: white;
    border: 1px solid grey;
}

.bloglist.content {
    margin: 20px 0 20px 0;
    padding: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.message {
    margin: 3px 1px 1px 5px;
    padding: 3px 5px;
    border-style: solid;
    border-color: grey;
    font-size: 12px;
}

.message .text {
    border:none;
    font-size: 16px;
}

#leave_a_msg {
    margin: 3px 1px 1px 5px;
    border-style: solid;
    border-color: grey;
}
#leave_a_msg textarea {
    width: 480px;
}

#maininfo img.photo {
    padding: 0;
    margin: 0;
    max-width: 720px;
}

[hierarchy=odd] {
    background: white;
}

[hierarchy=even] {
    background: #DDDDFF;
}

div.categories {
    margin: 10px 1% 0 1%;
    padding: 10px 0;
    border-style: solid;
    border-color: grey;
    background: white;
}

div.comments {
    margin: 10px 1% 0 1%;
    padding: 10px 0;
    border-style: solid;
    border-color: grey;
    background: white;
}

div.sidebar_title {
    font-size:20px;
    color: white;
    background:#4672BF;
    width: 190px;
    margin-left:20px;
    margin-right:20px;
    padding-left: 5px;
    float:middle;
}

div#unread_num,div.countdown3 {display: inline;}
