<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>ABOUT ME</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
    <h1>ABOUT ME</h1>
    <div id=content>
    <p>毕业于浙江大学</p>
    <p>前百度工程师</p>
    <p>喜欢足球、电子游戏、自驾游、弓弩枪的程序员</p>
    <p>对机器学习和网络安全颇有兴趣</p>
    <p>联系我: logsniper (at) outlook (dot) com</p>
    </div>
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
</body>
</html>
