<!DOCTYPE html>
<html>
<head>
  <!-- tmpl_var static-resources -->
  <title>Blog Creator & Editor</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
  <div id=maininfo>
  <h1>Blog Creator & Editor</h1>
  <div>Created on <!-- tmpl_var timestamp --></div>
  <div>Last Modified on <!-- tmpl_var last-modified-time --></div>
  <form method="post" action="Create_Edit">
    <table>
    <tr>
      <td>BlogID:<!-- tmpl_var blogid --></td>
      <input type="hidden" name="blogid" value="<!-- tmpl_var blogid -->"/>
    </tr>
    <tr>
      <td>Title:<input type="text" name="title" value="<!-- tmpl_var title -->"/></td>
    </tr>
    <tr>
      <td>Tags:<input type="text" name="tags" value="<!-- tmpl_var tags -->"/></td>
    </tr>
    <tr>
      <td>blog status:
        <input type="radio" name="blog_status" value="draft" 
               <!-- tmpl_unless published -->checked="checked"<!-- /tmpl_unless --> /> draft
        <input type="radio" name="blog_status" value="published" 
               <!-- tmpl_if published -->checked="checked"<!-- /tmpl_if --> /> published
      </td>
    </tr>
  
    <tr><td><a id=p-1 href="javascript:void(0)" onclick="insertParagraphIDafter(-1)">add paragraph</a></td></tr>
    <!-- tmpl_loop body-paragraph -->
    <tr class=insert_pos id=p<!-- tmpl_var sequence --> sid=<!-- tmpl_var sequence --> ><td>++++++++++</td></tr>
    <tr>
      <td>
        Paragraph: <!-- tmpl_var sequence -->, TYPE: 
        <select class=para_type name="para_type_<!-- tmpl_var sequence -->">
        <option value="ptype-head" <!-- tmpl_if headp -->selected="selected"<!-- /tmpl_if --> >head</option>
        <option value="ptype-body" <!-- tmpl_if bodyp -->selected="selected"<!-- /tmpl_if --> >body</option>
        <option value="ptype-image" <!-- tmpl_if imagep -->selected="selected"<!-- /tmpl_if --> >image</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><textarea class=para_text name="para_text_<!-- tmpl_var sequence -->"><!-- tmpl_var content --></textarea></td>
    </tr>
    <tr><td><a id=p<!-- tmpl_var sequence --> class=para_add  sid=<!-- tmpl_var sequence --> 
               href="javascript:void(0)" onclick="insertParagraphIDafter(<!-- tmpl_var sequence -->)">add paragraph</a></td></tr>
    <!-- /tmpl_loop -->
    <tr class=insert_pos id=p<!-- tmpl_var para-num --> sid=<!-- tmpl_var para-num --> ><td>++++++++++</td></tr>
    </table>
    <input type="submit" value="save"/>
  </form>
  </div>
  <script src="/script.js"></script>
</body>
</html>
