<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>Blog Creator & Editor</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <h1>Blog Creator & Editor</h1>
  <div>Created on <!-- tmpl_var timestamp --></div>
  <div>Last Modified on <!-- tmpl_var last-modified-time --></div>
  <form method="post" action="Create_Edit">
    <table>
    <tr>
      <td>BlogID:<!-- tmpl_var blogid --></td>
      <input type="hidden" name="blogid" value="<!-- tmpl_var blogid -->"/>
    </tr>
    <tr>
      <td>Title:<input type="text" name="title" value="<!-- tmpl_var title -->"/></td>
    </tr>
    <tr>
      <td>Tags:<input type="text" name="tags" value="<!-- tmpl_var tags -->"/></td>
    </tr>
  
    <!-- tmpl_loop body-paragraph -->
    <tr>
      <td>
        Paragraph: <!-- tmpl_var sequence -->
        <input type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-head"
                <!-- tmpl_if headp -->checked="true"<!-- /tmpl_if --> /> head
        <input type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-body"
                <!-- tmpl_if bodyp -->checked="true"<!-- /tmpl_if --> /> text
        <input type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-image"
                <!-- tmpl_if imagep -->checked="true"<!-- /tmpl_if --> /> image
      </td>
    </tr>
    <tr>
      <td><textarea name="para_text_<!-- tmpl_var sequence -->"><!-- tmpl_var content --></textarea></td>
    </tr>
    <!-- /tmpl_loop -->
    </table>
    <input type="submit" value="save"/>
  </form>
  </div>
</body>
</html>
