<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>Blog Creator & Editor</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <h1>Blog Creator & Editor</h1>
  <div>Created on <!-- tmpl_var timestamp --></div>
  <div>Last Modified on <!-- tmpl_var last-modified-time --></div>
  <form method="post" action="Create_Edit">
    <table>
    <tr>
      <td>BlogID:<!-- tmpl_var blogid --></td>
      <input type="hidden" name="blogid" value="<!-- tmpl_var blogid -->"/>
    </tr>
    <tr>
      <td>Title:<input type="text" name="title" value="<!-- tmpl_var title -->"/></td>
    </tr>
    <tr>
      <td>Tags:<input type="text" name="tags" value="<!-- tmpl_var tags -->"/></td>
    </tr>
    <tr>
      <td>blog status:
        <input type="radio" name="blog_status" value="draft" 
               <!-- tmpl_unless published -->checked="true"<!-- /tmpl_unless --> /> draft
        <input type="radio" name="blog_status" value="published" 
               <!-- tmpl_if published -->checked="true"<!-- /tmpl_if --> /> published
      </td>
    </tr>
  
    <tr><td><a id=-1 href="javascript:void(0)" onclick="insertParagraphIDafter(-1)">add paragraph</a></td></tr>
    <!-- tmpl_loop body-paragraph -->
    <tr class=insert_pos id=<!-- tmpl_var sequence --> ><td>++++++++++</td></tr>
    <tr>
      <td>
        Paragraph: <!-- tmpl_var sequence -->
        <input class=para_type type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-head"
                <!-- tmpl_if headp -->checked="true"<!-- /tmpl_if --> /> head
        <input class=para_type type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-body"
                <!-- tmpl_if bodyp -->checked="true"<!-- /tmpl_if --> /> text
        <input class=para_type type="radio" name="para_type_<!-- tmpl_var sequence -->" value="ptype-image"
                <!-- tmpl_if imagep -->checked="true"<!-- /tmpl_if --> /> image
      </td>
    </tr>
    <tr>
      <td><textarea class=para_text name="para_text_<!-- tmpl_var sequence -->"><!-- tmpl_var content --></textarea></td>
    </tr>
    <tr><td><a id=<!-- tmpl_var sequence --> class=para_add href="javascript:void(0)" onclick="insertParagraphIDafter(<!-- tmpl_var sequence -->)">add paragraph</a></td></tr>
    <!-- /tmpl_loop -->
    <tr class=insert_pos id=<!-- tmpl_var para-num --> ><td>++++++++++</td></tr>
    </table>
    <input type="submit" value="save"/>
  </form>
  </div>
  <script src="/script.js"></script>
</body>
</html>
