<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>hint</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <h1>Need some help?</h1>
  <h2><!-- tmpl_var hintinfo --></h2>
  <p><a href="<!-- tmpl_var refer-url -->">go back</a> <a href="http://<!-- tmpl_var main-page -->">main page</a></p>
</body>
</html>
