<!DOCTYPE html>
<html>
<head>
  <!-- tmpl_var static-resources -->
  <title>Login</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <h1>Login</h1>
  <form method="post" action="login_response">
    <div id=login_hint></div>
    <table id=login_form>
    <tr>
      <td>邮箱/Email:</td>
      <td><input id=login_email type="text" name="email"/></td>
    </tr>
    <tr>
      <td>密码/Password:</td>
      <td><input id=login_psw type="password" name="password"/></td>
    </tr>
    <tr><td><input id=login_submit type="submit" value="Submit"/></td></tr>
    </table>
  </form>
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
  
</body>
</html>
