  <!-- tmpl_loop message-posts -->
    <div>
      <p>
      <div><!-- tmpl_var author -->:</div>
      <div><!-- tmpl_var content --></div>
      <div><a href="http://<!-- tmpl_var host -->/view?blogid=<!-- tmpl_var owner-blogid -->">see all</a></div>
      </p>
    </div>
  <!-- /tmpl_loop -->
