<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>My Messages</title>
</head>
<body>
  <h1>My Messages</h1>

  <form method="post" action="message">
    <table>
    <tr>
      <td>Nickname:</td>
      <td><input type="text" name="author" value="<!-- tmpl_var author -->"/></td>
    </tr>
    <tr>
      <td>email:</td>
      <td><input type="text" name="email" value="<!-- tmpl_var email -->"/></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td><textarea name="content"></textarea></td>
    </tr>
    </table>
    <input type="submit" value="Submit"/>
  </form>
  <div>---------------------------------------</div>
  
  <!-- tmpl_loop message-posts -->
    <div>
      <div>msgid : <!-- tmpl_var msgid --></div>
      <div><!-- tmpl_var author -->: <!-- tmpl_var content --></div>
      <div><!-- tmpl_var timestamp --> @ <!-- tmpl_var ip-addr --></div>
      <div>---------------------------------------</div>
    </div>
  <!-- /tmpl_loop -->
</body>
</html>
