  <!-- tmpl_loop message-posts -->
    <div>
      <p>
      <div><!-- tmpl_var author -->:</div>
      <div><!-- tmpl_var content --></div>
      <div><a class=cancel_unread id=m<!-- tmpl_var msgid --> onclick="cancel_unread(<!-- tmpl_var msgid -->);" 
      href="javascript:void(0);"
      nexturl="http://<!-- tmpl_var host -->/view?blogid=<!-- tmpl_var owner-blogid -->#message_<!-- tmpl_var msgid -->">查看</a></div>
    </div>
  <!-- /tmpl_loop -->
