  <div id=navigator><ul>
    <li style="width:160px">LOGSNIPER'S BLOG</li>
    <li><a href="index">Blog list</a></li>
    <li><a href="/about">about</a></li>
    <li style="float:right;text-align:right;width:300px;">
    <!-- tmpl_if username -->Welcome, <!-- tmpl_var username -->. <a href="logout">Logout</a>?
    <!-- tmpl_else --><a href="register">register</a>/<a href="login">login</a>
    <!-- /tmpl_if -->
    </li>
  </ul></div>
