  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <div id=navigator><ul>
    <li style="width:160px">LOGSNIPER的博客</li>
    <li><a href="index">Blog list</a></li>
    <li><a href="/about">about me</a></li>
    <li style="float:right;text-align:right;width:300px;">
    <!-- tmpl_if username -->Welcome, <!-- tmpl_var username -->. <a href="logout">注销</a>?
    <!-- tmpl_else --><a href="register">注册</a>/<a href="login">登录</a>
    <!-- /tmpl_if -->
    </li>
  </ul></div>
