<div class=message id=<!-- tmpl_var msgid --> hierarchy=<!-- tmpl_var hierarchy --> >
<p>On <!-- tmpl_var timestamp --> <b><!-- tmpl_var author --></b> said:</p>
<p class=text id=<!-- tmpl_var msgid --> ><!-- tmpl_var content --></p>
<p><a href="javascript:void(0)" onclick="leaveMessageForm(<!-- tmpl_var msgid -->, '<!-- tmpl_var author -->');">回复</a></p>
<div class=reply_msg id=<!-- tmpl_var msgid --> >
<a class=insert_msg_pos id=<!-- tmpl_var msgid --> name="message_<!-- tmpl_var msgid -->"></a>
<!-- tmpl_if reply-list -->
<!-- tmpl_loop reply-list -->
<!-- tmpl_if sub-html --><!-- tmpl_var sub-html --><!-- /tmpl_if -->
<!-- /tmpl_loop -->
<!-- /tmpl_if -->
</div>
</div>
