<table border="1">
<tr><td colspan="2">
<p><!-- tmpl_var author -->: <!-- tmpl_var content --></p>
<p><!-- tmpl_var timestamp --> @ <!-- tmpl_var ip-addr --></p>
<p><a href="http://<!-- tmpl_var host-address -->/view?blogid=<!-- tmpl_var blogid -->&rpmsg=<!-- tmpl_var msgid -->#messages">reply</a></p>
</td></tr>
<!-- tmpl_if reply-list -->
<tr>
<td>&nbsp;&nbsp;</td>
<td><!-- tmpl_loop reply-list -->
<!-- tmpl_if sub-html --><!-- tmpl_var sub-html --><!-- /tmpl_if -->
<!-- /tmpl_loop --></td></tr>
<!-- /tmpl_if -->
</table>
