<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>
  <!-- tmpl_if succ -->
  Register Succeeded
  <!-- tmpl_else -->
  Register failed
  <!-- /tmpl_if -->
  </title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <!-- tmpl_if succ -->
  <h1>Register Succeeded</h1>
  <!-- tmpl_else -->
  <h1>Register Failed</h1>
  Because this Email address has already been here.
  <!-- /tmpl_if -->

</body>
</html>
