<!DOCTYPE html>
<html>
<head>
  <!-- tmpl_var static-resources -->
  <title>New User Register</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <h1>Registering</h1>
  <form id="register_form" method="post" action="reg_response">
    <p>注: 邮箱不会被公开，密码加密存储</p>
    <table>
    <tr>
      <td>昵称/Nickname:</td>
      <td><input class=register id=input_author type="text" name="author" autocomplete="off"/></td>
      <td id="input_author_hint"></td>
    </tr>
    <tr>
      <td>邮箱/Email:</td>
      <td><input class=register id=input_email type="text" name="email" autocomplete="off"/></td>
      <td id="input_email_hint"></td>
    </tr>
    <tr>
      <td>密码/Password:</td>
      <td><input type="password" name="password"/></td>
    </tr>
    </table>
    <input id="register_submit" type="submit" value="Submit"/>
  </form>
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
</body>
</html>
