<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>New User Register</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <h1>Registering</h1>

  <form method="post" action="reg_response">
    <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" name="author"/></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email"/></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password"/></td>
    </tr>
    </table>
    <input type="submit" value="Submit"/>
  </form>
  
</body>
</html>
