<div class=categories>
<h3>Categories</h3>
<!-- tmpl_loop tags -->
<li><a href="http://<!-- tmpl_var host -->/index?tag=<!-- tmpl_var tag -->"><!-- tmpl_var tag --></a>(<!-- tmpl_var count -->)</li>
<!-- /tmpl_loop -->
</div>
<div class=comments>
<h3>Recent comments</h3>
<!-- tmpl_var recent-messages -->
</div>
