<div>在线人数:<div id=active_user_num><!-- tmpl_var active-user-num --></div></div>
<div class=categories>
<div class=sidebar_title>Categories</div>
<!-- tmpl_loop tags -->
<li><a href="http://<!-- tmpl_var host -->/index?tag=<!-- tmpl_var tag -->"><!-- tmpl_var tag --></a>(<!-- tmpl_var count -->)</li>
<!-- /tmpl_loop -->
</div>
<div class=comments>
<div class=sidebar_title>Recent comments</div>
<div class=recent>
<!-- tmpl_var recent-messages -->
</div>
</div>
