<!DOCTYPE html>
<html>
<head>
  <!-- tmpl_var static-resources -->
  <title>未读消息</title>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <input id=mark_all_unread_button type="button" value="全部标为已读"/>
  <p id=mark_response_hint></p>
  <!-- tmpl_loop message-posts -->
    <div class="message unread">
      <p>On <!-- tmpl_var time --></p>
      <p><!-- tmpl_var author --> said:</p>
      <p class=text><!-- tmpl_var content --></p>
      <p><a class=cancel_unread id=m<!-- tmpl_var msgid --> onclick="cancel_unread(<!-- tmpl_var msgid -->);" 
      href="javascript:void(0);"
      nexturl="http://<!-- tmpl_var host -->/view?blogid=<!-- tmpl_var owner-blogid -->&hlm=m<!-- tmpl_var msgid -->#message_<!-- tmpl_var msgid -->">查看</a></p>
    </div>
  <!-- /tmpl_loop -->
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
</body>
</html>
