<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title><!-- tmpl_var title --></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
  <h1><!-- tmpl_var title --></h1>
    <div>
      <div>Created on <!-- tmpl_var timestamp --></div>
      <div>Tags:<!-- tmpl_var tags --></div>
      <div>Read times: <!-- tmpl_var visitor-count -->, Comments: <!-- tmpl_var msg-num --></div>
      <div id=content>
        <!-- tmpl_var body -->
      </div>
    </div>
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
  <div id=msginfo>
    <div>
      <a name="messages"/>
      <a id=non_reply_msg href="javascript:void(0)" onclick="leaveMessageForm(-1,'')">留言</a>
      <div id=leave_a_msg>
      <form id=register_form method="post" action="submit_message?blogid=<!-- tmpl_var blogid -->">
        <table>
        <!-- tmpl_if non-cookie -->
        <tr>
          <td>Nickname:</td>
          <td><input type="text" name="author"/></td>
        </tr>
        <tr>
          <td>email:</td>
          <td><input id="input_email" type="text" name="email"/></td>
          <td id="input_email_hint"></td>
        </tr>
        <tr>
          <td>password:</td>
          <td><input type="password" name="password"/></td>
        </tr>
        <!-- tmpl_else -->
        <tr>
          <td>Nickname:</td>
          <td><!-- tmpl_var author --></td>
        </tr>
        <!-- /tmpl_if -->
        <tr>
          <td>Content:</td>
          <!-- tmpl_if is-reply -->
            <input type="hidden" name="rpmsg" value="<!-- tmpl_var replied-msgid -->"/>
          <!-- /tmpl_if -->
          <td><textarea name="content"><!-- tmpl_if is-reply -->回复<!-- tmpl_var replied-author -->: <!-- /tmpl_if --></textarea></td>
        </tr>
        </table>
        <input id=register_submit type="submit" value="Submit"/>
        <input type="button" value="收起回复" onclick="$('#leave_a_msg').slideUp();"/>
      </form>
      </div>
    <!-- tmpl_var recursive-messages -->
    </div>
  </div>
</body>
</html>
