<!DOCTYPE html>
<html>
<head>
  <title><!-- tmpl_var title --></title>
</head>
<body>
  <h1><!-- tmpl_var title --></h1>
    <div>
      <div> blogid: <!-- tmpl_var blogid --></div>
      <div><!-- tmpl_var timestamp --></div>
      <div>
        <!-- tmpl_var body -->
      </div>
    </div>
</body>
</html>
