<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <title><!-- tmpl_var title --></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <!-- tmpl_var navigator -->
  <div id=maininfo>
    <!-- tmpl_var blog-maininfo -->
  </div>
  <div id=sidebar>
    <!-- tmpl_var sidebar -->
  </div>
  <div id=msginfo>
    <!-- tmpl_var blog-msginfo -->
  </div>
</body>
</html>
